<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>File Share</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
	<link rel="stylesheet" href="styles.css" />
</head>
<body>
	<script type="text/template" id="contact-template">
		<div id="contact-<%= email %>" class="contact" data-available="<%= available %>">
			<div class="status"></div>
			<p class="email"><%= email %></p>
			<canvas class="progress" width="36" height="36"></canvas>
			<input type="file" disabled="disabled" class="share" />
			<button disabled="disabled" class="cancel">Cancel</button>
			<button disabled="disabled" class="get">Get File</button>
		</div>
	</script>
	<div class="top-bar">
		<p class="my-email"></p>
	</div>
	<div class="contact-list"></div>
	<div class="login-area">
		<div class="outer-box">
			<div class="register-box">
				<div class="login-head">What's your name?</div>
				<input class="name-input" />
			</div>
			<div class="confirm-name-area">
				<a href="#" class="confirm-name">Start Sharing</a>
			</div>
		</div>
	</div>
	<a id="download"></a>
</body>

<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script src="http://cdn.pubnub.com/pubnub-3.5.0.min.js"></script>
<script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
<script src="./base64binary.js"></script>
<script src="./underscore.js"></script>
<script src="./file-manager.js"></script>
<script src="./main.js"></script>
<script src="./connection.js"></script>

</html>
