<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>

    <title>MusicBeacon</title>

    <link href='//fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<script type="text/template" id="contact-template">
    <div id="contact-<%= email %>" class="contact" data-available="<%= available %>">
        <div class="status"></div>
        <p class="email"><%= email %></p>
        <canvas class="progress" width="36" height="36"></canvas>
        <button disabled="disabled" class="cancel">Cancel</button>
        <button disabled="disabled" class="get">Get File</button>
        <input type="file" disabled="disabled" class="share hidden"/>
    </div>
</script>

<div class="top-bar">
    <h1 class="title">MusicBeacon</h1>

    <p class="my-email"></p>
</div>

<div class="contact-list"></div>

<a id="download"></a>

<div class="byline">
    <p>Powered by
        <a href="//pubnub.com">PubNub</a>
    </p>
</div>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://pubnub.a.ssl.fastly.net/pubnub-3.7.2.min.js"></script>
<script src="./utils.js"></script>
<script src="./webrtc-beta-pubnub.js"></script>
<script src="./base64binary.js"></script>
<script src="./underscore.js"></script>
<script src="./file-manager.js"></script>
<script src="./audio-manager.js"></script>
<script src="./peer-time.js"></script>
<script src="./connection.js"></script>
<script src="./main.js"></script>
</body>
</html>
