body {
    margin: 0;
    padding: 0;
}

pre {
    display: inline-block;
}

/****************************
 * Bootstrap/FlatUI Overrides
 ****************************/
.palette-clouds {
    color: rgb(137, 141, 143);
}

.row-fluid [class*="span"] {
    min-height: 200px;
}

/****************************
 * Utility classes
 ****************************/

.c-text {
    text-align: center;
}
.r-text {
    text-align: right;
}

.mar-bot {
    margin-bottom: 50px;
}
.mar-left {
    margin-left: 30px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.v-fit {
    height: 100%;
}

.h-fit {
    width: 100%;
}

/****************************
 * Page components
 ****************************/
.heading {
    padding-left: 100px;
    padding-right: 100px;
}

.page-title {
    display: inline-block;
}

.app-frame {
    width: 100%;
    height: 600px;
    border: none;
}

.panel {
    padding: 20px;
    min-height: 200px;
}